<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="messagingPropertiesFilter" type="System.Configuration.NameValueSectionHandler" />
    <section name="messageLogging" type="System.Configuration.NameValueSectionHandler" />

    <section name="messageConfigurationSection" type="MQMessageConsumer.Data.Configuration.ConsumerConfigurationManagerSection, MQMessageConsumerService" />
  </configSections>
  <!-- Only process these, and remove the rest of the messages on the queue the consumer instance is running on-->
  <messageConfigurationSection>
    <!-- UNC location of the log files-->
    <messageLogging>
      <!--<add uncFileLocation ="\e$\COMQConsumers\OMS\OMSFieldJobCompleteEventHandler\Logs" active="true" />-->
      <!--<add uncFileLocation="\c$\Development\MQMessageConsumerService\MQMessageConsumerService\bin\Debug\logs" active="true" />-->
      <add uncFileLocation="\c$\Development\mq-message-consumer\MQMessageConsumerService\bin\Debug\logs" active="true" />
    </messageLogging>
    <!-- Only process these, and remove the rest. Use "*" to process all types -->
    <messagingPropertiesFilter>
      <add urlParam="originSystem" value="*" />
      <add urlParam="registrationVersion" value="*" />

      <!--<add urlParam="originSystem" value="STORMS" />
      <add urlParam="originSystem2" value="OMS" />
      <add urlParam="registrationVersion" value="rv1" />-->

      <!--<add urlParam="originSystem" value="*" />
      <add urlParam="registrationVersion" value="rv1" />-->

    </messagingPropertiesFilter>
  </messageConfigurationSection>
  <appSettings>
    <add key="IsDebug" value="false" />
    <!--Max of thread counts that will be created at one time -->
    <add key="ThreadCountMax" value="15" />
    <!--HttpClient timeout in milliseconds -->
    <add key="HttpClientTimeOut" value="110000" />

    <!--********************************-->
    <!--Service installation parameters -->
    <!--********************************-->
    <!--Windows Service Name can't be the same as SourceName -->
    <add key="ServiceName" value="MqMessageConsumer.FieldJob" />
    <add key="ServiceDescription" value="CAD api field-job message consumer" />
    <add key="SourceName" value="FieldJob.Inbound" />
    <add key="EventViewerLogName" value="MqMessageConsumer" />


    <!--<add key="ServiceName" value="MqMessageConsumer.TST-STORMS-FieldOrderChangeTopicHandler" />
    <add key="ServiceDescription" value="STORMS test FieldOrder change topic message consumer" />
    <add key="SourceName" value="STORMS-FieldOrderChangeTopicHandler.Inbound" />
    <add key="EventViewerLogName" value="TST-STORMS-MqMessageConsumer" />-->

    <!-- Set to LOCAL, DEV, TST, STG, PRD per installation -->
    <add key="Env" value="LOCAL" />
    <!-- Queue to manager to process from -->
    <add key="QueueManagerName" value="WMD01" />
    <!--<add key="QueueManagerName" value="COD01" />-->
    <!--<add key="QueueManagerName" value="COD01" />-->
    <!--<add key="QueueManagerName" value="COA01" />-->

    <!--Queue to process from-->
    <!--<add key="QueueName" value="CAD.FIELD_ORDER_CHANGE.LQ" />-->
    <add key="QueueName" value="CAD.FIELD_ORDERS.LQ" />
    <!--<add key="QueueName" value="CAD.FIELD_ORDERS_DISPOSAL.LQ" />-->

    <!--<add key="QueueName" value="CAD.MMS_DESCRIPTION_CHANGE.LQ" />-->
    <!--<add key="QueueName" value="CAD.MMS_ITEM_WHSE_ADD.LQ" />-->
    <!--<add key="QueueName" value="CAD.FIELD_ORDER_ERROR.LQ" />-->
    <!--<add key="QueueName" value="CAD.FIELD_ORDER_ASSIGNMENT_CHANGE.LQ" />-->

    <!--These should be the actual route of the resource EX: field-jobs/{0}/something/{1} and match the number and order of urlParams in the Messaging-Properties message header-->
    <!--The following DestinationApi* nodes are determined by httpMethod parameter in the Messaging-Properties message header- -->

    <add key="DestinationApiPostResourceParams" value="field-jobs" />
    <add key="DestinationApiPutResourceParams" value="field-jobs/{0}" />
    <add key="DestinationApiPatchResourceParams" value="field-jobs/{0}" />
    <add key="DestinationApiDeleteResourceParams" value="" />

    <!--<add key="DestinationApiPostResourceParams" value="field-jobs/{0}/disposal-statuses" />
    <add key="DestinationApiPutResourceParams" value="" />
    <add key="DestinationApiPatchResourceParams" value="" />
    <add key="DestinationApiDeleteResourceParams" value="" />
    -->
    <!-- This will override the httpMethod parameter in the Messaging-Properties message header -->
    <!--
    <add key="DestinationApiOverride" value="POST" />-->

    <!--<add key="DestinationApiPostResourceParams" value="field-jobs/utilities/topics" />
    <add key="DestinationApiPutResourceParams" value="" />
    <add key="DestinationApiPatchResourceParams" value="" />
    <add key="DestinationApiDeleteResourceParams" value="" />-->

    <!--<add key="DestinationApiPostResourceParams" value="material-catalog-items/{0}/warehouse-item/{1)" />
    <add key="DestinationApiPutResourceParams" value="material-catalog-items/{0}" />
    <add key="DestinationApiPatchResourceParams" value="" />
    <add key="DestinationApiDeleteResourceParams" value="" />-->

    <!--<add key="DestinationApiPostResourceParams" value="" />
    <add key="DestinationApiPutResourceParams" value="material-catalog-items/{0}" />
    <add key="DestinationApiPatchResourceParams" value="" />
    <add key="DestinationApiDeleteResourceParams" value="" />-->

    <!--<add key="DestinationApiPostResourceParams" value="material-catalog-items/{0}/warehouse-item/{1}" />
    <add key="DestinationApiPutResourceParams" value="" />
    <add key="DestinationApiPatchResourceParams" value="" />
    <add key="DestinationApiDeleteResourceParams" value="" />-->

    <!--<add key="DestinationApiPostResourceParams" value="field-jobs/utilities/topics" />
    <add key="DestinationApiPutResourceParams" value="" />
    <add key="DestinationApiPatchResourceParams" value="" />
    <add key="DestinationApiDeleteResourceParams" value="" />-->


    <!--<add key="QueueManagerName" value="COA01" />
    <add key="QueueName" value="STORMS.FIELD_ORDER_CHANGE.LQ" />
    <add key="DestinationApiPostResourceParams" value="field-job-events-handler" />
    <add key="DestinationApiPutResourceParams" value="" />
    <add key="DestinationApiPatchResourceParams" value="" />
    <add key="DestinationApiDeleteResourceParams" value="" />
    
    <add key="DestinationApiOverride" value="POST" />
    <add key="LOCAL_ApiDestinationScheme" value="https" />
    <add key="LOCAL_ApiDestinationHost" value="xxxxx" />
    <add key="LOCAL_ApiDestinationPort" value="xxxxx" />
    <add key="LOCAL_ApiDestinationPath" value="/Energy-Delivery/ManagedWorkEventHandler/api" />
    <add key="LOCAL_ApiDestinationCredentials" value="xxxxx" />-->

    <!-- This will override the httpMethod parameter in the Messaging-Properties message header -->
    <!--<add key="DestinationApiOverride" value="" />-->


    <!--*******-->
    <!-- LOCAL -->
    <!-- Environment protocol of the destination api "http" or "https"-->
    <add key="LOCAL_ApiDestinationScheme" value="http" />
    <add key="LOCAL_ApiDestinationHost" value="xxxxx" />
    <add key="LOCAL_ApiDestinationPort" value="xxxxx" />
    <add key="LOCAL_ApiDestinationPath" value="/Energy-Delivery/FieldOrder/api" />
    <add key="LOCAL_ApiDestinationCredentials" value="xxxxx=" />

    <!--<add key="LOCAL_ApiDestinationScheme" value="http" />
    <add key="LOCAL_ApiDestinationHost" value="xxxxx" />
    <add key="LOCAL_ApiDestinationPort" value="xxxxx" />
    <add key="LOCAL_ApiDestinationPath" value="/Energy-Delivery/FieldOrder/api" />
    <add key="LOCAL_ApiDestinationCredentials" value="xxxxx" />-->

    <!--<add key="LOCAL_ApiDestinationScheme" value="https" />
    <add key="LOCAL_ApiDestinationHost" value="xxxxx" />
    <add key="LOCAL_ApiDestinationPort" value="xxxxx" />
    <add key="LOCAL_ApiDestinationPath" value="/Energy-Delivery/FieldOrder/api" />
    <add key="LOCAL_ApiDestinationCredentials" value="xxxxx" />-->


    <add key="LOCAL_ApiTopicCredentials" value="xxxxx" />
    <add key="LOCAL_ApiTopicUri" value="https://xxxxx/information-technology/messaging/mv1/basic/rest/topics" />
    <add key="LOCAL_TopicErrorName" value="CAD/FIELD_ORDER/ERROR" />

    <!--<add key="LOCAL_TransformPostTrigger" value="" />
    <add key="LOCAL_TransformPostUrlParamsApiUri" value="" />
    <add key="LOCAL_TransformPutTrigger" value="" />
    <add key="LOCAL_TransformPutUrlParamsApiUri" value="" />-->

    <!-- "value" = transformaton parameter name and then use a comma for multiple transformaton values  Ex: "transformUrlParams=Origin|ExternalNo1,Origin|ExternalNo2" -->
    <add key="LOCAL_TransformPostTrigger" value="transformUrlParams=Origin|ExternalNo1,Origin|ExternalNo2" />
    <add key="LOCAL_TransformPostUrlParamsApiUri" value="field-jobs/get-transformed-message-properties-url-params" />
    <add key="LOCAL_TransformPutTrigger" value="transformUrlParams=Origin|ExternalNo1,Origin|ExternalNo2" />
    <add key="LOCAL_TransformPutUrlParamsApiUri" value="field-jobs/get-transformed-message-properties-url-params" />

    <!--*****-->
    <!-- DEV -->
    <!-- Environment protocol of the destination api "http" or "https"-->
    <add key="DEV_ApiDestinationScheme" value="http" />
    <!-- Environment machine of the destination api-->
    <add key="DEV_ApiDestinationHost" value="xxxxx" />
    <!-- Environment port of the destination api-->
    <add key="DEV_ApiDestinationPort" value="xxxxx" />
    <!-- Environment Api resource path. Note version path will be determined by the headers of the message itself-->
    <add key="DEV_ApiDestinationPath" value="/Energy-Delivery/FieldOrder/api" />
    <!-- Environment credentials of the destination api-->
    <!--<add key="DEV_ApiDestinationCredentials" value="xxxxx" />-->
    <add key="DEV_ApiDestinationCredentials" value="xxxxx" />


    <!-- Environment Credentials of the destination api-->
    <!--
    <add key="DEV_ApiTopicCredentials" value="" />
    -->
    <!-- Environment Topic api uri-->
    <!--
    <add key="DEV_ApiTopicUri" value="" />
    -->
    <!-- Environment Error topic name -->
    <!--
    <add key="DEV_TopicErrorName" value="" />-->

    <add key="DEV_ApiTopicCredentials" value="xxxxx" />
    <add key="DEV_ApiTopicUri" value="https://xxxxx/information-technology/messaging/mv1/basic/rest/topics" />
    <add key="DEV_TopicErrorName" value="CAD/FIELD_ORDER/ERROR" />

    <!-- Environment value that will be included in the Messaging-Properties.urlParams that will trigger the urlParams transformation function-->
    <add key="DEV_TransformPostTrigger" value="transformUrlParams=Origin|ExternalNo1" />
    <!-- Environment function for POST urlParams transformation -->
    <add key="DEV_TransformPostUrlParamsApiUri" value="field-jobs/get-transformed-message-properties-url-params" />
    <!-- Environment value that will be included in the Messaging-Properties.urlParams that will trigger the urlParams transformation function-->
    <add key="DEV_TransformPutTrigger" value="transformUrlParams=Origin|ExternalNo1" />
    <!-- Environment function for PUT urlParams transformation -->
    <add key="DEV_TransformPutUrlParamsApiUri" value="field-jobs/get-transformed-message-properties-url-params" />

    <!--*****-->
    <!-- STG -->
    <!-- Environment protocol of the destination api "http" or "https"-->
    <add key="STG_ApiDestinationScheme" value="https" />
    <!-- Environment machine of the destination api-->
    <add key="STG_ApiDestinationHost" value="xxxxx" />
    <!-- Environment port of the destination api-->
    <add key="STG_ApiDestinationPort" value="xxxxx" />
    <!-- Environment Api resource path. Note version path will be determined by the headers of the message itself-->
    <add key="STG_ApiDestinationPath" value="/Energy-Delivery/ManagedWorkEventHandler/api" />
    <!-- Environment credentials of the destination api-->
    <!--<add key="STG_ApiDestinationCredentials" value="xxxxx" />-->
    <add key="STG_ApiDestinationCredentials" value="xxxxx" />

    <!-- Environment Credentials of the destination api-->
    <add key="STG_ApiTopicCredentials" value="" />
    <!-- Environment Topic api uri-->
    <add key="STG_ApiTopicUri" value="" />
    <!-- Environment Error topic name -->
    <add key="STG_TopicErrorName" value="" />

    <!-- Environment value that will be included in the Messaging-Properties.urlParams that will trigger the urlParams transformation function-->
    <add key="STG_TransformPostTrigger" value="" />
    <!-- Environment function for POST urlParams transformation -->
    <add key="STG_TransformPostUrlParamsApiUri" value="" />
    <!-- Environment value that will be included in the Messaging-Properties.urlParams that will trigger the urlParams transformation function-->
    <add key="STG_TransformPutTrigger" value="" />
    <!-- Environment function for PUT urlParams transformation -->
    <add key="STG_TransformPutUrlParamsApiUri" value="" />

    <!--*****-->
    <!-- PRD -->
    <!-- Environment protocol of the destination api "http" or "https"-->
    <add key="PRD_ApiDestinationScheme" value="https" />
    <!-- Environment machine of the destination api-->
    <add key="PRD_ApiDestinationHost" value="xxxxx" />
    <!-- Environment port of the destination api-->
    <add key="PRD_ApiDestinationPort" value="xxxxx" />
    <!-- Environment Api resource path. Note version path will be determined by the headers of the message itself-->
    <add key="PRD_ApiDestinationPath" value="/Energy-Delivery/FieldOrder/api" />
    <!-- Environment credentials of the destination api-->
    <add key="PRD_ApiDestinationCredentials" value="xxxxx" />

    <!-- Environment Credentials of the destination api-->
    <add key="PRD_ApiTopicCredentials" value="" />
    <!-- Environment Topic api uri-->
    <add key="PRD_ApiTopicUri" value="" />
    <!-- Environment Error topic name -->
    <add key="PRD_TopicErrorName" value="" />

    <!-- Environment value that will be included in the Messaging-Properties.urlParams that will trigger the urlParams transformation function-->
    <add key="PRD_TransformPostTrigger" value="" />
    <!-- Environment function for POST urlParams transformation -->
    <add key="PRD_TransformPostUrlParamsApiUri" value="" />
    <!-- Environment value that will be included in the Messaging-Properties.urlParams that will trigger the urlParams transformation function-->
    <add key="PRD_TransformPutTrigger" value="" />
    <!-- Environment function for PUT urlParams transformation -->
    <add key="PRD_TransformPutUrlParamsApiUri" value="" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="amqmdxcs" publicKeyToken="7a58d55a51981a15" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.3" newVersion="7.5.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>